Audio to text/whisper-vulkan/*
Audio to text/whisper.cpp-windows-vulkan/*
Scripts/reelfromfacebook.html
Audio to text/Call recording 01203612921_260513_120722.txt
/utils/.ff_profile/Default/GPUCache
/utils/.ff_profile
sync.ffs_db
